/* GERERAL SETTINGS ========================================== */

:root {
  font-size: 62.5%;

  /* Colors */
  --primary-hover: hsla(209, 85%, 26%, 1);
  --primary: hsla(209, 77%, 43%, 1);
  --primary-light: hsla(206, 100%, 91%, 1);
  --primary-white: hsla(206, 100%, 97%, 1);
  --gray-headline: hsla(210, 11%, 15%, 1);
  --gray-paragraph: hsla(210, 9%, 31%, 1);
  --white: hsla(0, 0%, 98%, 1);
  --beige: hsla(39, 100%, 97%, 1);

  /* Settings */
  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

ul {
  list-style: none;
}

.wrapper {
  width: 37.5rem;

  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* NAV ========================================== */

nav {
  height: var(--nav-height);

  padding: 1.6rem 2.4rem;

  display: flex;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  width: 100vw;

  background: var(--primary);
}

nav.scroll svg:nth-child(1) path {
  fill: var(--white);
}

nav.scroll button path {
  stroke: var(--white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* HEADER ========================================== */

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--primary-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1 {
  margin-bottom: 2.4rem;

  font-size: 3.4rem;

  color: var(--gray-headline);
}

header h4 {
  margin-bottom: 1.6rem;

  font-size: 1.4rem;

  color: var(--primary);
}

header > p {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
  line-height: 150%;

  color: var(--gray-paragraph);
}

header button {
  width: 26.3rem;
  height: 5.2rem;

  margin: 0 auto 6rem;

  border: none;
  border-radius: 4rem;

  background: var(--primary);

  color: var(--white);
  text-transform: uppercase;

  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header > img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#section-numbers {
  width: 32.7rem;
  height: 47rem;

  margin-inline: auto;
  padding-block: 4rem;

  background: var(--white);

  border: 1px solid var(--primary-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.number h3 {
  margin-bottom: 0.4rem;

  font-size: 4.8rem;

  color: var(--gray-headline);
}

.number p {
  color: var(--primary);
}

/* MENU-EXPANDED ========================================== */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  background: var(--primary);
}

body.menu-expanded nav {
  position: relative;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 2;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded .close-menu svg path {
  stroke: var(--white);
}

.menu ul:first-child {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;

  font-size: 2.4rem;
  font-weight: 700;
}

.menu ul li a {
  color: var(--white);
}

.menu .button {
  display: inline-block;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  padding: 1.6rem 3.2rem;

  background: var(--white);

  border-radius: 4rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--primary);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
