/* GERERAL SETTINGS ========================================== */

:root {
  font-size: 62.5%;

  /* Colors */
  --primary-hover: hsla(209, 85%, 26%, 1);
  --primary: hsla(209, 77%, 43%, 1);
  --primary-light: hsla(206, 100%, 91%, 1);
  --primary-white: hsla(204, 100%, 97%, 1);
  --gray-headline: hsla(210, 11%, 15%, 1);
  --gray-paragraph: hsla(210, 9%, 31%, 1);
  --white-bg: hsla(0, 0%, 98%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --beige: hsla(39, 100%, 97%, 1);

  /* Settings */
  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background: var(--white-bg);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

section header h4 {
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  color: var(--primary);
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--gray-headline);
}

section .content p {
  font-size: 1.6rem;

  line-height: 150%;

  color: var(--gray-paragraph);
}

.wrapper {
  width: 37.5rem;

  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* NAV ========================================== */

nav {
  width: 100vw;
  height: var(--nav-height);

  padding: 1.6rem 2.4rem;

  display: flex;

  position: fixed;
  top: 0;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary);
}

nav.scroll .logo path {
  fill: var(--white);
}

nav.scroll button path {
  stroke: var(--white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU-EXPANDED ========================================== */

.menu {
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  background: var(--primary);

  transition: transform 300ms;
  transform: translateY(0);
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded .close-menu svg path {
  stroke: var(--white);
}

.menu ul:first-child {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;

  font-size: 2.4rem;
  font-weight: 700;
}

.menu ul li a {
  color: var(--white);
}

.menu .button {
  display: inline-block;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  padding: 1.6rem 3.2rem;

  background: var(--white);

  border-radius: 4rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--primary);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* HOME ========================================== */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
  padding-bottom: 0;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--primary-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  margin-bottom: 2.4rem;

  font-size: 3.4rem;

  color: var(--gray-headline);
}

#home .content p {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
}

#home button {
  width: 26.3rem;
  height: 5.2rem;

  margin: 0 auto 6rem;

  border: none;
  border-radius: 4rem;

  background: var(--primary);

  color: var(--white);
  text-transform: uppercase;

  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .numbers {
  width: 32.7rem;

  margin-inline: auto;
  padding-block: 4rem;

  background: var(--white);

  border: 1px solid var(--primary-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .number h3 {
  margin-bottom: 0.4rem;

  font-size: 4.8rem;

  color: var(--gray-headline);
}

#home .number p {
  color: var(--primary);
}

/* SERVICES ========================================== */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;

  border: 1px solid var(--primary-light);
  border-radius: 0.6rem;

  background: var(--white);

  text-align: left;
}

#services .card h3 {
  margin-block: 1.6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--gray-headline);
}

/* ABOUT ========================================== */

#about {
  background: var(--primary-white);
  text-align: left;

  border-block: 2px solid var(--primary-light);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-bottom: 6rem;
}

#about .content img {
  border: 1px solid var(--primary-light);
  border-radius: 2rem;
}
